<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<import resource="Jdbc/Spring-Datasource.xml" />
	<import resource="Jdbc/Spring-Employee.xml" /> 
	
	<!-- <bean id="emloyeeDao" class="com.paramesh.jdbc.EmployeeDAOImpl">
		<property name="dataSource" ref="MysqlDataSource" />
	</bean>
	<bean id="MysqlDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/practice" />
		<property name="username" value="root" />
		<property name="password" value="Root@1" />
	</bean> -->
</beans>